<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>conglingshujingling/conglingshujingling1.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,158},{55,84}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{55,84}}</string>
			<key>sourceSize</key>
			<string>{65,100}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling10.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,4},{117,123}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{117,123}}</string>
			<key>sourceSize</key>
			<string>{121,131}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling2.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,131},{65,104}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{65,104}}</string>
			<key>sourceSize</key>
			<string>{77,110}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling3.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,122},{41,39}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{41,39}}</string>
			<key>sourceSize</key>
			<string>{47,39}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling4.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,158},{65,55}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{65,55}}</string>
			<key>sourceSize</key>
			<string>{73,63}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling5.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,158},{62,73}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{62,73}}</string>
			<key>sourceSize</key>
			<string>{68,77}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling6.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,165},{32,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{32,43}}</string>
			<key>sourceSize</key>
			<string>{36,49}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling7.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,131},{62,98}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{62,98}}</string>
			<key>sourceSize</key>
			<string>{66,100}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling8.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,4},{72,114}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{72,114}}</string>
			<key>sourceSize</key>
			<string>{78,132}</string>
		</dict>
		<key>conglingshujingling/conglingshujingling9.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{164,150}}</string>
			<key>offset</key>
			<string>{5,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{164,150}}</string>
			<key>sourceSize</key>
			<string>{174,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>conglingshujingling0.png</string>
		<key>size</key>
		<string>{378,246}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a601c949369f8b1d5f5fae333702e9d3:1/1$</string>
		<key>textureFileName</key>
		<string>conglingshujingling0.png</string>
	</dict>
</dict>
</plist>
