<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>conglinnvwushi/conglinnvwushi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,86},{48,63}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{48,63}}</string>
			<key>sourceSize</key>
			<string>{60,73}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi10.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,86},{28,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{28,35}}</string>
			<key>sourceSize</key>
			<string>{34,47}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,86},{133,117}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{133,117}}</string>
			<key>sourceSize</key>
			<string>{137,123}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,86},{63,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{63,55}}</string>
			<key>sourceSize</key>
			<string>{71,55}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,145},{25,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{25,39}}</string>
			<key>sourceSize</key>
			<string>{29,49}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi5.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,153},{39,43}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{39,43}}</string>
			<key>sourceSize</key>
			<string>{43,51}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi6.png</key>
		<dict>
			<key>frame</key>
			<string>{{4,4},{196,193}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{196,193}}</string>
			<key>sourceSize</key>
			<string>{200,193}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi7.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,4},{305,78}}</string>
			<key>offset</key>
			<string>{16,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,13},{305,78}}</string>
			<key>sourceSize</key>
			<string>{351,98}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi8.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,153},{41,49}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{41,49}}</string>
			<key>sourceSize</key>
			<string>{43,57}</string>
		</dict>
		<key>conglinnvwushi/conglinnvwushi9.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,125},{25,32}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{25,32}}</string>
			<key>sourceSize</key>
			<string>{29,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>conglinnvwushi0.png</string>
		<key>size</key>
		<string>{513,207}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b5b48d2c52e01c4dd79338a8788be582:1/1$</string>
		<key>textureFileName</key>
		<string>conglinnvwushi0.png</string>
	</dict>
</dict>
</plist>
