<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,116},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>account_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>closed_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,154},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,30}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>closed_sound_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,52},{33,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,30}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>more_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,49}}</string>
                <key>sourceSize</key>
                <string>{113,49}</string>
            </dict>
            <key>more_game_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>open_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{29,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>open_sound_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,84},{32,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,52},{98,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>ranking_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{98,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{100,51}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{88,48}</string>
            </dict>
            <key>start_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,103},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{88,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7097dcfd810cbb84731bc9b72983bcda$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
